.topArea{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 15px auto;
    justify-content: space-between;
}
.searchQuestion{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
.questionInput{
    width: 550px;
    height: 30px;
    border-radius: 16px;
}
.searchImg{
    width: 40px;
    height: auto;
}
.createQuestionBtn{
    width: 110px;
    height: 35px;
    border: 2px solid black;
    border-radius: 20px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255,255,255,0.4);
}
.createImg{
    width: 16px;
    height: auto;
    margin-left: 5px;
}
.question_list{
    width: 90%;
    margin: 0 auto;
}
.classify_nav{
    display: flex;
    flex-direction: row;
    background: rgb(252, 252, 252);
}
.classify{
    width: 50%;
    padding: 10px 0;
}
.classify:hover{
    background: rgb(250, 245, 245);
}
.classify_active{
    border-bottom: 3px solid rgb(255, 174, 188);
}
.list{
    list-style: none;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background: rgba(245, 239, 239,0.8);
    padding: 15px 0;
    overflow-y: scroll;
}
.list li{
    width: 90%;
    text-align: left;
    border-bottom: 1px solid rgb(136, 136, 136);
    margin: 0 auto;
}
.qbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
