.q_a_container{
    width: 90%;
    margin: 0 auto;
}
.topArea{
    display: flex;
    flex-direction: row;
    margin: 15px auto;
    justify-content: space-between;
}
.searchArea{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.questionInput{
    width: 550px;
    height: 30px;
    border-radius: 16px;
}
.searchImg{
    width: 40px;
    height: auto;
}
.createBtn{
    width: 110px;
    height: 35px;
    border: 2px solid black;
    border-radius: 20px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.createImg{
    width: 16px;
    height: auto;
    margin-left: 5px;
}
.classify_nav{
    display: flex;
    flex-direction: row;
    background: rgb(252, 252, 252);
}
.classify{
    width: 50%;
    padding: 10px 0;
}
.classify:hover{
    background: rgb(250, 245, 245);
}
.classify:focus{
    border-bottom: 1px solid rgb(231, 200, 205);
}
.list{
    list-style: none;
    width: 100%;
    margin: 0 auto;
    background: rgb(245, 239, 239);
    padding: 15px 0;
}
.list li{
    width: 90%;
    text-align: left;
    border-bottom: 1px solid rgb(136, 136, 136);
    margin: 0 auto;
}
.qbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
