.answer_question_container{
    width: 90%;
    height: 560px;
    margin: 0 auto;
    padding: 0;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;;
}
.submitBtn{
    width: 80px;
    height: 40px;
    background: orange;
}